<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="text" id="chat-message-input">
<input type="submit" id="chat-message-submit">
</body>

<script>

    document.querySelector('#chat-message-input').focus();



    let sender = {{ sender }};
    let receiver = {{ receiver }};

    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + 'room' + '/');

    chatSocket.onmessage = function (e) {
        console.log(e.data);
    };

    chatSocket.onopen = function (e) {
        console.log('onopen');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;

        if (message !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender,
                'receiver': receiver,
            }));
        }

        document.querySelector('#chat-message-input').focus();

        messageInputDom.value = '';
    };
</script>

</html>